body {
    background-color: lightblue;
    line-height: 1.2;
}


header {
  background-color: red;
  border: 7px solid blue;
  border-radius: 12px;
  color: yellow;
  display: fixed;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.section {
    background-color: aquamarine;
    border: 7px solid black;
    border-radius: 12px;
    margin: 20px auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 90%;
}

.section p{
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 70%; 
    text-align: center;
    
}

.section ul{
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-align: center;
}

.section ol {
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-align: center;
}

.footer {
    background-color: whitesmoke;
    border: 7px solid black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;

}

@media screen and (max-width: 600px) {
    .section p, .section ul, .section ol {
        width: 80%;
    }
    .section ol {
        font-size: 0.9em;
    }
}