body {
    box-sizing: border-box;
    background-color: antiquewhite;
    text-align: center;
}

header { 
    background-color: gray;
    font-size: 1.5em;
    border: 3px solid black;
    border-radius: 3px;
}

.main1 {
    background-color: lightgray;
}

.section {
    border: 3px solid black;
    border-radius: 3px;
}

footer {
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 3px;
}