body {
    box-sizing: border-box;
    background-color: antiquewhite;
    text-align: center;
}

header {
    background-color: brown;
}

#main {
    background-color: whitesmoke;
    width: 80%;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 1.5em;
}

@media screen and (max-width: 400px) {
    header {
        font-size: 0.9em;
    }
    #main {
        font-size: 1.4em;
    }
}